
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,800');

body {
    margin: 0;
    padding: 100px 0 0 0;
    width: 100%;
    font-family: 'Libre Franklin', sans-serif;
    color: #4F4F4E;
    font-size: 16px;
}
body a{
    color: #000;
}
p a{
    text-decoration: underline;
}
a:hover{
    text-decoration: underline;
    color: #666666;
}
#titlebar{
    background-image: url(../img/headerimgverysmall.jpg);
    height: 10px;
}
.navbar-nav>li>a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}
.navbar-brand{
    font-weight: 800;
    text-decoration: none;
    color: #000;
}
#content{
    margin-top: 100px;
}
.warning{
    background-color: #FEAAAC;
    padding: 2px 10px;
    border: 2px solid #FC000C;
    margin-bottom: 10px;
}
.jumbotron{
    background-color: #fff;
}
.jumbotron h1{
    font-size: 32px;
}
.navbar-fixed-top{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
h1,h2,h3{
    font-weight: 800;
    color: #000;
}
h1 {
    font-size: 24px;
    margin-bottom: 16px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
.alphabet a{
    font-weight: 600;
}
a.disappeared, a.disappeared:visited{
    display: inline-block;
    padding-right: 20px;
    background-image: url(../img/dead.png);
    background-repeat: no-repeat;
    background-position: right;
}
a.nostreet, a.nostreet:visited{
    color: #ccc;
    text-decoration:line-through;
}
.foundvariant{
    color: #666;
    font-size: 12px;
    margin-top: -8px;
    display: block;
}
.streetillustration{
    width: 100%;
}
table.identifiers{
    margin-top: 20px;
    border-spacing: 2px;
    border-collapse: separate;
    font-size: 14px;
}
table.identifiers td{
    background-color: #D9DFD4;
    padding: 2px 8px;
}
.intextimg{
    width: 100%;
    margin:0 0 16px 0;
}
.map{
    width: 100%;
    height: 300px;
}
#districtmapid{
    width: 100%;
    height: 600px;
}
.geojsonstring{
    margin: 10px 0 20px 0;
    width: 100%;
    height: 50px;
    font-family: Courier;
    font-size: 12px;
}
.raadsbesluit{
    background-color: #FC000C;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 4px;
    display: inline-block;
}
.raadsbesluit span{
    display: none;
    background-color: #FC000C;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    padding: 1px 4px;
    position: absolute;
    margin-top: -12px;
    margin-left: 6px;
}
.since{
    color: #BCBEBE;
    font-size: 12px;
}
.bagicon, .wikidataicon{
    display: inline-block;
    position: absolute;
    background-color: #DCDFDF;
    color: #fff;
    padding: 1px 2px;
    font-weight: bold;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 3px;
}
.missing{
    color: #FC0006;
    font-size: 12px;
}
.footer{
    margin-top: 100px;
}
.footer img{
    width: 100%;
}
.btn-info{
    background-color: #fff;
    border: #fff;
    color: #ccc;
}


/** modal styles **/
.modal-title {
    font-weight: bold;
}
.modal-footer a {
    color: darkred;
}
