    <li class="nav-item">
        <a class="nav-link" href="/verdwenenstraten/index.php">Verdwenen straten</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/straten">Straten</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Gebouwen</a>
    </li>
