<!doctype html>
<html lang="en">
<head>
    <title>Adamlink Demo!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- BOOTSTRAP Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- We need this fisrt beacuse of includes -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/labstyles.css" type="text/css">

</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar navbar-fixed-top">
    <div id="titlebar">
    </div>

    
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Adamlink Lab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/verdwenenstraten/index.php">Verdwenen straten</a>
                </li>
                <li>
                    <a href="/straten">Straatbeelden</a>
                </li>
                
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>

<main role="main">

    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <h1>Het Adamlink Lab</h1>

                <p>Op deze plek vind je links naar applicaties die op de Adamlink data zijn gemaakt. Ze geven een idee wat je er zoal mee kan.</p>


                <h3>Lees ook de <a href="http://blogadamlink.nl/">Adamlink Blog</a></h3>
                <p>
                    Op <a href="http://blogadamlink.nl/">onze blog</a> publiceren we artikelen voor erfgoedprofessionals, ontwikkelaars en ieder ander die meer over ons project of over onze data wil weten.
                </p>

                <h3>Bekijk ook de <a href="https://adamlink.nl/">Adamlink Referentiedata</a></h3>
                <p>
                    <a href="https://adamlink.nl/">Onze referentiedata</a> is vooral bedoeld om goede identifiers te vinden bij straten, personen, gebouwen, enzovoort. Maar je vindt er natuurlijk ook waar die ene verdwenen straat precies lag.
                </p>
            </div>

            <div class="col-md-3">
                <h2><a href="https://www.oba.nl/actueel/adamlink/HvAlab.html">HvA prototypes</a></h2>
                <a href="https://www.oba.nl/actueel/adamlink/HvAlab.html"><img src="img/hva.jpg" style="width: 100%; margin-bottom: 20px;" /></a>

                <p>Dertig HvA studenten werkten een week lang op de OBA aan dertig Adamlink applicaties. We zijn erg onder de indruk van <a href="https://www.oba.nl/actueel/adamlink/HvAlab.html">de resultaten</a>, zeker als je in aanmerking neemt dat zowel de collecties zelf, als het bevragen daarvan met SPARQL, onbekend terrein waren.</p>
            </div>


            <div class="col-md-3">
                <h2><a href="/ov/index.php">Metro &amp; tram</a></h2>
                <a href="/ov/index.php"><img src="img/tram1.jpg" style="width: 100%; margin-bottom: 20px;" /></a>

                <p>Alle tram- en metrolijnen, zoals ze voor en na 22 juli lopen, met historische foto's uit de Amsterdamse archieven.</p>
            </div>
            

        </div>

        <div class="row">

            


            <div class="col-md-3">
                <h2><a href="https://github.com/bertspaan/hackalod/">A'dam op de kaart</a></h2>
                <a href="https://github.com/bertspaan/hackalod/"><img src="img/mapme.jpg" style="width: 100%; margin-bottom: 20px;" /></a>

                <p>De kaarten van het stadsarchief waren alleen in de beeldbank terug te vinden. Totdat Bert en Menno ze op de HackaLOD ook geografisch ontsloten.</p>

                <p>Op <a href="https://github.com/bertspaan/hackalod/">github</a> meer informatie en links naar beide applicaties.</p>
            </div>

            <div class="col-md-3">
                <h2><a href="https://bertspaan.nl/kaart-sparql/">A'dam op de kaart 2</a></h2>
                <a href="https://bertspaan.nl/kaart-sparql/"><img src="img/loman.jpg" style="width: 100%; margin-bottom: 20px;" /></a>

                <p>In een <a href="https://bertspaan.nl/kaart-sparql/">tweede prototype</a> zoek je ook met andere parameters, zoals deelcollectie en tijd. En SPARQL liefhebbers komen hier ook aan hun trekken.</p>
            </div>

            <div class="col-md-3">
                <h2><a href="/pionieren/index.php">Pionieren</a></h2>
                <a href="/pionieren/index.php"><img src="img/pionieren.jpg" style="width: 100%; margin-bottom: 20px;" /></a>

                <p>Zand, net gesloten straten, de eerste boompjes in de grond. Eens kijken of we dit soort foto's van pionierend Amsterdam boven water krijgen met een query die beeld ophaalt dat genomen is binnen twee jaar na aanleg van een straat.</p>

            </div>


            <div class="col-md-3">
                <h2><a href="/straten">Straatbeelden</a></h2>
                <a href="/straten"><img src="img/straatbeelden.png" style="width: 100%; margin-bottom: 20px;" /></a>

                <p>De straatbeelden - van verschillende Amsterdamse collecties - komen uit de Adamlink sparql endpoint, de straatgeometrie en het autocomplete afrolmenuutje uit de referentiedata.</p>
            </div>

            
        </div>

        <div class="row">

            


            <div class="col-md-3">
                <h2><a href="/geportretteerden/index.php">Portretten per beroep</a></h2>
                <a href="/geportretteerden/index.php"><img src="img/beroepen.png" style="width: 100%; margin-bottom: 20px;" /></a>

                <p>Jazzmuzikanten, politici, schrijvers - wat komen we zoal in de Amsterdamse beeldbanken tegen? Een test met de geportretteerden die we tot nu toe aan Wikidata hebben gekoppeld.</p>

                <p>Er is een <a href="http://blogadamlink.nl/erfgoedpro/collecties-verbinden-met-wikidata/">blogbericht</a> en de code staat <a href="https://github.com/mmmenno/geportretteerden-naar-beroep">op GitHub</a>.</p>
            </div>


            <div class="col-md-3">
                <h2><a href="/verdwenenstraten/index.php">Verdwenen straten</a></h2>
                <a href="/verdwenenstraten/index.php"><img src="img/verdwenen.png" style="width: 100%; margin-bottom: 20px;" /></a>

                <p>Wat de Verdwenen stratenkaart laat zien zal duidelijk zijn. Bij roze straten zijn afbeeldingen te zien.</p>

                <p>Het <a href="http://blogadamlink.nl/ontwikkelaar/verdwenen-straten-sparqlen/">blogbericht</a> over deze sample app vertelt meer over gebruikte queries en code.</p>

            </div>


            <div class="col-md-3">
                <h2><a href="http://lab.adamlink.nl/jaarkaart/index.php">Jaarkaart</a></h2>
                <a href="http://lab.adamlink.nl/jaarkaart/index.php"><img src="img/jaarkaart.jpg" style="width: 100%; margin-bottom: 20px;" /></a>

                <p>Toont gebouwen die in een bepaald jaar bestonden, als bekend met de naam waaronder het gebouw op data moment bekend was. Zo verschijnt Tuschinski vanaf 1921 op de kaart, en is de naam in de oorlogsjaren op last van de bezetter gewijzigd in Tivoli.</p>
            </div>


            <div class="col-md-3">
                <h2><a href="http://lab.adamlink.nl/amsterdam-verbeeld/index.php">A'dam verbeeld</a></h2>
                <a href="http://lab.adamlink.nl/amsterdam-verbeeld/index.php"><img src="img/verbeeld.jpg" style="width: 100%; margin-bottom: 20px;" /></a>

                <p>Zoek door alle collecties naar schilderijen, tekeningen, etc. binnen een aangegeven gebied. Om gebruik <a href="https://nl.wikipedia.org/wiki/Art_and_Architecture_Thesaurus">AAT</a> en zoeken binnen bounding box te demonstreren.</p>
            </div>

            
        </div>



        <div class="row">

            


            <div class="col-md-3">
                <h2><a href="/aatstats/index.php">AAT statistieken</a></h2>
                <a href="/aatstats/index.php"><img src="img/aatstats.jpg" style="width: 100%; margin-bottom: 20px;" /></a>

                <p>Binnen de Amsterdamse collecties proberen we zo veel mogelijk de <a href="https://nl.wikipedia.org/wiki/Art_and_Architecture_Thesaurus">AAT</a> te gebruiken om de typen collectie-objecten aan te duiden. Voorheen gebruikte de één 'affiches' en de ander 'Poster', nu de juiste <a href="http://vocab.getty.edu/aat/300027221">AAT URI</a>.</p>

                <p>Naast eenduidigheid biedt de AAT ook hiërarchie en vertalingen van de termen in tal van talen.</p>
            </div>


            <div class="col-md-3">
            </div>


            <div class="col-md-3">
            </div>


            <div class="col-md-3">
            </div>

            
        </div>

        <hr>

    </div> <!-- /container -->

</main>


<div class="footer">
    <img src="/img/footerimg.jpg">
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="js/app.js" type="application/javascript"></script>
</body>
</html>