<!doctype html>
<html lang="en">
<head>
    <title>Adamlink Demo!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link href="js/typeahead/jquery.typeahead.min.css" rel="stylesheet" type="text/css">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

    <!-- We need this first beacuse of includes -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/labstyles.css" type="text/css">
</head>
<style type="text/css">
    body {
        padding-top: 60px;
        min-height: 800px;
    }

    #map {
        width: 100%;
        height: 400px;
    }
</style>
<body>

<nav class="navbar navbar navbar-fixed-top">
    <div id="titlebar">
    </div>


    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Adamlink Lab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/verdwenenstraten/index.php">Verdwenen straten</a>
                </li>
                <li>
                    <a href="/straten">Straatbeelden</a>
                </li>
            </ul>

            <form id="adamlink-search" class="navbar-form navbar-right">
                <div class="typeahead__container">
                    <div class="typeahead__field">
                    <span class="typeahead__query">
                        <input class="js-typeahead"
                               name="q" placeholder="Zoek op naam"
                               type="search"
                               autocomplete="off"/>
                    </span>
                        <span class="typeahead__button">
                        <button type="submit">
                            <span class="typeahead__search-icon"></span>
                        </button>
                    </span>
                    </div>
                </div>
            </form>

        </div><!--/.nav-collapse -->
    </div>
</nav>

<main role="main">

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-4">
                <div id="map"></div>

                <div class="card border border-secondary mt-2">
                    <div class="card-body" id="uri">
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div id="message" style="margin-top: 10px;"></div>

                <ul id="pagination-demo" class="pagination-sm"></ul>

                <div id="streetPics" class="d-flex flex-wrap mt-2">
                    <div>Zoek rechtsboven op een Amsterdame straat.<br>
                        Daarna worden de bijbehorende afbeeldingen in de AdamLink triplestore opgezocht.<br>
                        <h4 class="mt-2">Gekoppelde collecties:</h4>
                        <ul>
                            <li>Stadsarchief</li>
                            <li>Amsterdam Museum</li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>

        <hr>
    </div> <!-- /container -->

</main>

<!--<footer class="container-fluid" data-include="footer"></footer>-->


<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="js/typeahead/jquery.typeahead.min.js"></script>


<!-- lightbox-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" crossorigin="anonymous"></script>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>


<script src="js/app.js" type="application/javascript"></script>
<script src="js/map.js" type="application/javascript"></script>
<script src="js/street.js" type="application/javascript"></script>

<script src="js/jquery.twbsPagination.min.js" type="application/javascript"></script>


<script type="application/javascript">

    $(document).ready(function () {

    });


    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
</body>
</html>